body {
    background-image: url("../../assets/bg.png");
    background-color: #1B1B1B;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    overflow-x: hidden;
}